html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0;
  margin: 0;
}
h1 {
  width: 100%;
}
h3 {
  margin: 40px 0 0;
}
ul {
  margin-left: 0.5rem;
  padding: 0;
}
ol {
  margin-left: 0.5rem;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #2c3e50;
  font-weight: bold;
  text-decoration: none;
}
.page {
}
.content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header a {
  text-decoration: none;
  color: #444;
}
.jobs {
  width: 75%;
}
.title {
  width: 100%;
}
.jobsLayout {
  display: flex;
  align-items: flex-start;
}
.leftColumn {
  width: 10%;
  min-width: 9rem;
  display: flex;
  flex-direction: column;
}
.filter {
  background: #eee;
  padding: 2rem;
}
.section {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}
.reset {
  margin-top: 2rem;
  background: gray;
  color: white;
  border: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
}
.howToPost {
  background: #007d8a;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.howToPost a {
  color: white;
  font-weight: bold;
}
.jobList {
  display: flex;
  flex-wrap: wrap;
}
.job {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid gray;
  position: relative;
}
.job .meta {
  font-size: 100%;
  font-family: monospace;
  color: #e1523d;
}
.job .title {
  font-size: 150%;
  color: #007d8a;
  padding-bottom: 0.75rem;
}
.job .description {
  margin-top: 1rem;
}
.job .permalink {
  text-align: right;
  font-size: 80%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.job a {
  text-decoration: none;
}
.job .meta a {
  font-weight: normal;
}
.badges {
  float: right;
}
.badge {
}
.badge .tooltip {
  visibility: hidden;
  background-color: #007d8a;
  color: white;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.badge:hover .tooltip {
  visibility: visible;
}
